15
15

2 8 2
1 12
2 1 11
2 1 11
3 2 7 1
2 2 10
2 3 9
3 5 1 5
2 5 5
3 5 1 4
2 10 3
2 10 4
1 15
1 15
2 3 10

1 13
1 11
1 9
2 2 7
2 4 7
3 4 1 5
2 7 6
2 7 5
2 8 5
2 7 5
2 9 3
2 9 4
1 15
2 4 10
1 14

---########-##-
---############
#---###########
#---###########
##----#######-#
##---##########
###---#########
#####---#-#####
#####-----#####
#####-#----####
##########--###
##########-####
###############
###############
###--##########

