15
20

1 14
2 1 18
1 20
2 7 12
2 6 10
2 7 10
2 8 9
3 8 3 3
4 8 1 1 1
1 8
3 8 1 4
3 10 1 6
2 10 9
1 18
2 8 9

1 12
1 11
1 14
1 14
1 14
1 15
2 4 10
2 3 9
2 4 4
2 4 4
2 6 1
2 7 5
2 7 3
2 9 3
2 8 4
2 8 4
2 7 5
2 9 5
2 8 5
2 8 5

-----##############-
#-##################
####################
#######-############
######----##########
#######---##########
########---#########
########-----###-###
########-----#---#-#
########------------
########---#----####
##########-#--######
##########-#########
--##################
--########-#########

